html {
  height: 100%;
}

body {
  overflow-x: hidden;
}

.cloak {
  display: block;
}

hr {
  width: 70px;
  border-color: #8eb640;
  border-width: 2px;
  height: 2px;
}

.bannerBtn {
  border: none;
  background: #8eb640;
  color: white;
  padding: 10px 20px;
}
.bannerBtn:hover {
  background: #536b25;
}

.inputInline {
  width: 49%;
  float: left;
}

.navbar-btn {
  padding-top: 13px;
  margin: 0 10px 0 0;
  color: #9d9d9d;
  font-size: 18px;
}
.navbar-btn:hover {
  color: #8eb640 !important;
}

.navbar {
  background: #131413;
}
.navbar .navbar-toggle {
  border-color: #8eb640;
}
.navbar .navbar-toggle .icon-bar {
  background-color: #8eb640;
}
.navbar .navbar-brand {
  height: 75px;
}
.navbar .navbar-brand:hover {
  color: #8eb640 !important;
}

.learn-more {
  color: white;
}

.learn-more:hover {
  color: white;
}

.parallax, .parallaxTop, .parallaxSection {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0;
}

.parallaxTop {
  background-image: url("https://images.pexels.com/photos/114907/pexels-photo-114907.jpeg?w=1260&h=750&auto=compress&cs=tinysrgb");
  min-height: 100vh;
}

.parallaxSection {
  min-height: 250px;
}

.shadow, .shadowSection {
  background: rgba(0, 0, 0, 0.8);
  min-height: 100vh;
  width: 100%;
}

.shadowSection {
  min-height: 250px;
}

.jumboBanner {
  text-align: center;
}
.jumboBanner .banner {
  color: white;
  padding-top: 30vh;
  text-align: center;
  font-family: sans-serif;
  font-size: 112px;
  margin-top: 0;
}
.jumboBanner .motto {
  color: white;
  margin: 50px auto;
}

#aboutBlock {
  width: 94%;
}

#aboutRow, .aboutLeft, .aboutRight, .aboutImg {
  min-height: 400px;
  margin: 20px auto;
}
#aboutRow hr, .aboutLeft hr, .aboutRight hr, .aboutImg hr {
  margin-left: 0;
  text-align: left;
}
#aboutRow .aboutImg, .aboutLeft .aboutImg, .aboutRight .aboutImg, .aboutImg .aboutImg {
  background-image: url("https://images2.alphacoders.com/608/thumb-1920-60852.jpg");
  background-repeat: no-repeat;
  background-size: 90% 90%;
}

#servicesRow {
  background-image: url("https://co-op.bc.ca/wp-content/uploads/2017/07/pexels-photo-247932-e1499447498357.jpeg");
  text-align: center;
  color: white;
}
#servicesRow h2 {
  padding-top: 100px;
}

#serviceBlocks .container {
  width: 94%;
}

.serviceBlock {
  text-align: center;
  margin: 20px auto 50px auto;
  padding: 25px;
}
.serviceBlock img {
  width: 100px;
  height: 100px;
  margin: 10px 0 20px 0;
}
.serviceBlock p {
  font-size: 18px;
}

.phoneContact {
  background: #8eb640;
  text-align: center;
  color: white;
  min-height: 200px;
}
.phoneContact h2 {
  margin: 100px 0;
}

#formMessage {
  margin-bottom: 2%;
  height: 100px;
  max-width: 100%;
}

.contactForm {
  margin: 50px auto;
  text-align: center;
}
.contactForm h2 {
  margin: 0 auto;
}
.contactForm form {
  width: 75%;
  margin: 50px auto 0 auto;
}
.contactForm form input {
  margin-bottom: 2%;
}
.contactForm form input[name="name"] {
  margin-right: 2%;
}

#contactInfo {
  background: #131413;
  min-height: 200px;
}
#contactInfo .contactStack {
  margin: 50px 0;
  text-align: center;
  font-size: 16px;
}
#contactInfo h4 {
  color: #8eb640;
}
#contactInfo p {
  color: #9d9d9d;
}

#copyright {
  background: #8eb640;
  min-height: 125px;
  text-align: center;
  color: white;
}
#facebook {
  background-image: url("https://www.flaticon.com/svg/static/icons/svg/124/124010.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: white;
}
#twitter {
  background-image: url("https://www.flaticon.com/svg/static/icons/svg/124/124021.svg");
  background-size: cover;
  background-repeat: no-repeat;
}
#linkedin {
  background-image: url("https://www.flaticon.com/svg/static/icons/svg/124/124011.svg");
  background-size: cover;
  background-repeat: no-repeat;
}
#copyright .social, #copyright img {
  height: 50px;
  width: 50px;
  border: none;
  margin: 30px 5px 0px 5px;
}
#copyright p {
  margin: 30px 0;
}

@media screen and (max-width: 766px) {
  .jumboBanner .banner {
    font-size: 72px;
  }

  .cloak {
    display: none;
  }
}
@media screen and (max-width: 500px) {
  .inputInline {
    width: 100%;
    float: none;
  }

  form input {
    margin-bottom: 5%;
  }

  input[name="submit"] {
    width: 100%;
  }

  input[name="name"] {
    margin-right: 0%;
  }
}