<html>
  <head>
    <!--Task 1: Use the title tag to create a title element-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" crossorigin="anonymous">
    <!-- Task 2: Use the link tag to link the external stylesheet main.css stylesheet (relative location)-->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans">
  </head>
  <body>
<!-- Navigation Bar -->
    <nav id="navigation" class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <!-- Task 3: Use the image tag to add your company's logo and give it a class of navbar-brand -->
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbarButtons" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div class="collapse navbar-collapse" id="navbarButtons">          
          <ul class="nav navbar-nav navbar-right">
            <li id="navAbout" class="btn"><a href="#aboutRow" class="navbar-btn">About</a></li>
            <li id="navServices" class="btn"><a href="#servicesRow" class="navbar-btn">Services</a></li>
            <li id="navContact" class="btn"><a href="#phoneContact" class="navbar-btn">Contact</a></li>
          </ul>
        </div>
      </div>
    </nav>
<!-- Top page image -->
 <div class="parallaxTop">
   <div class="jumboBanner shadow">
     <!-- 
          Task 4:
          Create to header elements. One with class of banner that has your company's name,
          and the other with class of motto, with your company's motto.
      -->
     <button id="bannerBtn" class="bannerBtn"><a href="#aboutRow" class="learn-more">LEARN MORE</a></button>
   </div>
 </div>
<!-- Main content -->    
<!-- About row -->
    <div id="aboutBlock" class="container">
      <div id="aboutRow" class="row">
        <div class="aboutLeft col-xs-12 col-sm-6 cloak">
          <div class="row">
            <div class="col-md-3"></div>
            <div class="aboutImg col-md-9"></div>
          </div>
        </div>
        <div class="aboutRight col-xs-12 col-sm-6">
          <div class="row">
            <div class="col-md-9">            
              <h2>OUR COMPANY</h2>
              <hr>
              <!--Task 5: Use the paragraph tag to write a sentence about your company-->
            </div>
          </div>
          <div class="col-md-3"></div>          
        </div>
      </div>
    </div>
<!--  Services row  -->
    <!-- Task 6: Give the next div tag an id of servicesRow-->
    <div class="parallaxSection">
      <div class="shadowSection">
        <h2>SERVICES</h2>
        <hr/>
      </div>
    </div>
    <div id="serviceBlocks" class="row">
      <div class="container">
        <!-- Task 7: Give the next div tag a class of serviceBlock and col-md-4-->
        <div>
          <h1>Cloud</h1>
          <!-- Task 8: The image tag's attribute is incorrect. Fix the attribute to link the image-->
          <img url="https://cdn3.iconfinder.com/data/icons/programming-elements-2/64/Machine-learning-brain-circuit-artificial-intelligence-512.png"/>
          <p>We do cloud stuff! Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sed dapibus leo nec ornare diam. Sed commodo nibh ante facilisis bibendum dolor feugiat at. Duis sed dapibus leo nec ornare diam commodo nibh.</p>
        </div>
        <div class="serviceBlock col-md-4">
          <h1>Software</h1>
          <!-- Task 9: The image tag's attribute is incorrect. Fix the attribute to link the image-->
          <img rel="https://cdn3.iconfinder.com/data/icons/programming-elements-2/64/Software-disc-programming-coder-512.png"/>
          <p>We do software things! Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sed dapibus leo nec ornare diam. Sed commodo nibh ante facilisis bibendum dolor feugiat at. Duis sed dapibus leo nec ornare diam commodo nibh.</p>
        </div>
        <div class="serviceBlock col-md-4">
          <h1>Service</h1>
          <!-- Task 10: The image tag's attribute is incorrect. Fix the attribute to link the image-->
          <img href="https://cdn3.iconfinder.com/data/icons/programming-elements-2/64/Simulation-man-coder-programmer-male-512.png"/>
          <p>We do the needful! Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sed dapibus leo nec ornare diam. Sed commodo nibh ante facilisis bibendum dolor feugiat at. Duis sed dapibus leo nec ornare diam commodo nibh.</p>
        </div>
      </div>
    </div>
<!--  Contact form  -->
      <div id="phoneContact" class="phoneContact row">
        <!--
            Task 11:
            Create a div with a class of container, then give it a child header 
            with your company's phone number.
        -->
      </div> 
      <div class="container">               
        <div id="contactRow" class="contactForm row">
          <h2>CONTACT FORM</h2>
          <hr>
          <h3>Enter you contact informaiton and message below.</h3>
          <form name="contactForm" class="form-group" action="#" method="POST">
            <!-- Task 12: Add a placeholder attribute for the input tag that takes the user's name-->
            <input id="formName" name="name" class="inputInline form-control" type="text" required/>
            <!-- Task 13: Add a placeholder attribute for the input tag that takes the user's email-->
            <input id="formEmail" name="email" class="inputInline form-control" type="email" required/>
            <textarea id="formMessage" name="message" class="form-control" type="text" placeholder="Message" required></textarea>
            <input name="submit" class="bannerBtn" type="submit" value="SEND MESSAGE"/>
          </form>
        </div>        
      </div>
<!-- Contact info -->
    <div id="contactInfo" class="row">
      <div class="container">
        <div class="contactStack col-md-4">
          <h4>ADDRESS</h4>
          <p>Industrial Center Cir</p>
          <p>Charlotte, NC 28213</p>
        </div>
        <!--
            Task 14: 
            Consider the previous div for the company's address.
            Complete your company's contact info section by adding two more 
            div elements detailing Operating Hours, and Contact Info.  Make sure
            to keep the same class of contactStack and col-md-4.
        -->
      </div>
    </div>
<!-- Copyright -->
    <div id="copyright" class="row">
      <div class="container">
        <div id="socialBtn">
          <!--
            Task 15: 
            Hyperlink/hypertext reference the following 3 elements to a facebook, 
            twitter, and linkedin page, respectively.
          -->
          <a class="social"><img id="facebook"></a>
          <a class="social"><img id="twitter"></a>
          <a class="social"><img id="linkedin"></a>
        </div>
        <!--
            Task 16: Use the HTML symbol entity for copyright to
            copyright your company's name in a paragraph element.
        -->
      </div>
    </div>
  </body>
</html>